.avatarImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
}
.pagination {

}
.pagination button {
    font-size: 14px;
    margin: 5px;
}
.active {
    font-weight: bold;
}
